<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="css/catalog.css"/>

</head>
<body>
<header class="header">
   <h1 class="txt">Портфолио</h1>

</header>
<div >
    <table align="center">
        <tr>
            <td>
                    <img class="pic" th:src="@{images/catalog/1.png}"/>
                </td>
            <td><img class="pic" th:src="@{images/catalog/2.png}"/></td>
            <td><img class="pic" th:src="@{images/catalog/6.png}"/></td>
        </tr>
        <tr>
            <td><img class="pic" th:src="@{images/catalog/3.png}"/></td>
            <td><img class="pic" th:src="@{images/catalog/4.png}"/></td>
            <td><img class="pic" th:src="@{images/catalog/5.png}"/></td>
        </tr>
        <tr>
            <td><img class="pic" th:src="@{images/catalog/7.png}"/></td>
            <td><img class="pic" th:src="@{images/catalog/8.png}"/></td>
            <td><img class="pic" th:src="@{images/catalog/9.png}"/></td>
        </tr>
    </table>


<img class="pic" th:src="@{images/catalog/10.png}"/>
</div>
<footer style="text-align:center;">
    <button class="button" onclick="document.location='/'">
        Назад</button>
</footer>
</body>
</html>