<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/faq.css"/>
    <title></title>
</head>
<body>
<main>
    <h2>Наши преимущества:</h2>
    <p style="max-width:1400 px;
                text-align:center;
                color: #c89666;">
        <ul style="list-style-position:inside">
            <li>-более 50 выполненных индивидуальных заказов;</li>
            <li>-лучшие цены на материалы и комплектующие;</li>
            <li></li>
            <li></li>
            <li> </li>
        </ul>
   </p>
</main>
<footer style="text-align:center">
    <button class="button" onclick="document.location='/'">
        Назад</button>
</footer>
</body>
</html>