body{
background-color:#12343b;}
.header{
text-align:center;
}
.txt{
color:grey;}

.pic {
cursor: pointer;
max-width: 250px;
max-height: 250px;

}
.pic:hover {
max-width:none;
max-height: 600;
}
.button{
color: black;
background-color: #c89666;
margin-bottom: 30px;
width: 100px;
}