<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width,initial-scale=1">
<head>
    <meta name="description" content="Кухни на заказ">
   <link rel="stylesheet" href="css/style.css"/>
    <link rel="shortcut icon" href="images/spring_icon.png" type="image/png">
</head>

<body>
<header>
    <h1 class="txt"> Welcome, visitor! </h1>
    <div>
        <p class="txt" text="Establish your own comfort with us"></p>

    </div>

</header>


<main>
    <nav>
        <div>
        <button class="button" onclick="document.location='faq'">
            F.A.Q.</button>
        <button class="button" onclick="document.location='catalog'">
        Каталог</button>
        <button class="button" onclick="window.location.href='vk.com'"/>
        Контакт</a>

        </div>
</nav>

    <div class="zastavka">
        <img style="border-radius: 10px;" th:src="@{images/fur.png}" alt=" "/>
    </div>
</main>
<footer>
    <h6>desighned by A.Mokhov 2020</h6>
</footer>

</body>
</html>